:root {
  ---background-color-note: #195890;
  --background-color-newNote: rgb(200, 37, 108);
  --primary-color: snow;
  --border-radius: 7px;
}
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
 padding: 20px; 
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
  background-color: var(---background-color-note);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  min-height: 170px;
  white-space: pre-wrap;
}
.delete-icon{
  cursor: pointer;
}
.note.new-note{
background-color:var( --background-color-newNote);
}
textarea{
  border: none;
  resize: none;
  background-color:var( --background-color-newNote);
}
textarea:focus{
  outline: none;
}
textarea::placeholder{
  color:var(--primary-color);
}

.save{
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  border: none;
}
.save:hover{
  background-color:rgb(47, 47, 47) ;
  color: var(--primary-color);
  cursor: pointer;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
